/* 
about me  */


.about-sum {
    max-width: 1300px;
    margin: 20px auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #080808;
    border-radius:10px;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: .75fr 400px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 8em;
    }
    
    .section__title--about {
        grid-area: title;
        padding-left: 120px;
        padding-bottom: 30px;
        color: #F8F8FF;
        font-size: 4rem;
    }
    
    .section__subtitle--about {
        grid-column: 1/ -1;
        grid-row: 2;
        position: relative;
        left: 3em;
        width: calc(100% + 3em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    
    .about-me__img {
        grid-area: img;
        position: relative;

    }
}

.about-me__body {
    padding-left: 80px;
    color: #F8F8FF;
}

.bottom-text{
    color: white;
}

.text-bottom{
    max-width: 1000px;
    margin-left: 80px;
}
