
/* Education section */

.my-education {
    background-color: var(--clr-dark);
    background-image: url(./images/code.jpg);
    padding-top: 60px;
    padding-bottom: 30px;
    background-size: cover;
    background-blend-mode: multiply;
    color:#F8F8FF;
    text-align: center;
    margin: auto;
    max-width: 1300px;
    border-radius:10px;
}


.section__title--education {
    color: var(--clr-accent);
    position: relative;
}

.section__title--education::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0;
}

/* .services {
    margin-bottom: 4em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
} */

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .service + .service {
        margin-left: 2em;
    }
}
 
.education {
    padding-bottom: 75px;
    max-width: 1000px;
    margin: 0 auto;
}

