

/*  Intro section  */

.intro {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;  
    
}

.worky{
    max-width: 1300px;
    background-color: #080808;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius:10px;
    margin-top: 20px; 
    
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 350px;
        position: relative;
        z-index: 1;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: 4/ 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        /* width: calc(100%); */
    }
    
    .section__title--intro {
        margin-bottom: 0px;
        padding-bottom: 0px;
        color: #F8F8FF;
    }
}

    
