
/* middle

img {

    width: 300px;
    height: 300px;
} */

.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
    /* padding-top: 80px;  
    padding-bottom: 80px;  
    padding: left 20px; */
    padding: 0px 55px;
    max-width: 1300px;
    /* width:70%; */
    margin: auto;
    border:#61DAFB;
    border-radius:10px;
    padding-bottom: 40px;
    
    margin-bottom: 20px;

}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
    /* background: var(--clr-accent); */
    overflow: hidden;
}

.portfolio__img {
    width: 350px;
    height: 360px;
    padding: 5px;
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.02);
    opacity: .9;
}

#work-btn {

    margin-top: 50px;
    border-radius: 10px;
    border: none;
}

.image__title{
    display:none;
}


.portfolio__img:hover .image__title{
    display:inline-block;
}
