.overall {
    /* background-image: url(../src/pages/home/components/images/dark.jpg);
    background-repeat: no-repeat;
    background-size: cover; */

    background-color: #040426;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #101010 10px ), repeating-linear-gradient( #000, #080808 );
    
}

  

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


